{{#if exactly_one_unsubscribed_stream}}
    <a href="#streams/all">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        {{~#tr}}浏览更多频道{{/tr~}}
    </a>
{{else if can_subscribe_stream_count}}
    <a href="#streams/all">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        {{~#tr}}浏览 {can_subscribe_stream_count} 个额外的频道{{/tr~}}
    </a>
{{else if can_create_streams}}
    <a href="#streams/new">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        {{~t "Create a stream"~}}
    </a>
{{/if}}
