<div class="sku-item">
    <div class="sku-img">
        <img class="img" src="{{sku.skuPic}}" alt="">
    </div>
    <div class="sku-info">
        <div class="sku-top">
            <div class="sku-title">
                {{sku.skuName}}
            </div>
            <div class="sku-sales">
                <span>总交易额 {{sku.money}}</span>
                <span>纠纷率 1%</span>
                <span>关联工单 1</span>
            </div>
        </div>
        <div class="sku-bottom">
            <div class="sku-tags">
                <div class="tag">
                    粉丝活跃 29
                </div>
                <div class="tag">
                    粉丝活跃 29
                </div>
            </div>
        </div>
    </div>
</div>
