<div class="header portico-header">
    <div class="header-main" id="top_navbar">
        <div class="float-left">
            {% if custom_logo_url %}
            <a class="brand logo" href="{{ root_domain_url }}/"><img draggable="false" src="{{ custom_logo_url }}" class="portico-logo" alt="{{ _('Zulip') }}" content="Zulip" /></a>
            {% else %}
            <div class="brand logo">
                <a href="{{ root_domain_url }}/" class="new">
                    <img alt="" src="{{ static('images/logo.png') }}" width="30" />
                    <span class="text">有方</span>
                </a>

                {% if page_is_help_center %}
                <span class="light"> | <a href="{{ root_domain_url }}/help/">{{ doc_root_title }}</a></span>
                {% endif %}
                {% if page_is_api_center %}
                <span class="light"> | <a href="{{ root_domain_url }}/api/">{{ doc_root_title }}</a></span>
                {% endif %}
                {% if page_is_policy_center %}
                <span class="light"> | <a href="{{ root_domain_url }}/policies/">{{ doc_root_title }}</a></span>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="float-right top-links">
            {% if user_is_authenticated %}
                {% include 'zerver/portico-header-dropdown.html' %}
            {% else %}
                {% if login_link_disabled %}
                {% elif not only_sso %}
                <a href="{{login_url}}">{{ _('Log in') }}</a>
                {% endif %}
            {% endif %}

            {% if register_link_disabled %}
            {% elif only_sso %}
                <a href="{{ url('login-sso') }}">{{ _('Log in') }}</a>
            {% else %}
                {% if user_is_authenticated %}
                {% else %}
                <a href="{{ url('register') }}">{{ _('Sign up') }}</a>
                {% endif %}
            {% endif %}

            {% if find_team_link_disabled %}
            {% else %}
            <a href="{{ root_domain_url }}/accounts/find/">{{ _('Find accounts') }}</a>
            <a href="{{ root_domain_url }}/new/">{{ _('New organization') }}</a>
            {% endif %}
        </div>
    </div>
</div>
